*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #4275FA;
  --secondary: #2E2D56;
  --white: #FFFFFF;
  // --button:#015EA1;
  --background: #294BA2;
  --title: #605E5E;
  --text: #929292;

  font-size: 62.5%; // 10px = 1rem
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    height: 100%; 
}

body, form, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
