.container{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 1rem;

  width: 100%;  
  ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 45rem;
    border: 1px solid red;
  }

  li{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: var(--primary);
    
    transition: 0.4s;
    
    &:hover{
      color: var(--secondary);
      // }
    }
  }
}